APScheduler==3.3.1
certifi==2017.4.17
chardet==3.0.4
click==6.7
Flask==0.12.2
Flask-Cache==0.13.1
Flask-Cors==3.0.3
greenlet==0.4.12
gunicorn==19.7.1
idna==2.5
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==1.0
newrelic==2.90.0.75
pymongo==3.4.0
python-binary-memcached==0.26.1
pytz==2017.2
redis==2.10.5
requests==2.18.1
rq==0.8.0
six==1.10.0
tzlocal==1.4
urllib3==1.21.1
Werkzeug==0.12.2
